{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="admin-sidebar">
        <div class="admin-logo">
            <img src="{{ asset('assets/images/logo.svg') }}" alt="Med. Pharma Analytics Hub">
        </div>
        
        <nav class="admin-menu">
            <a href="{{ path('admin_dashboard') }}" class="admin-menu-item">
                <i class="material-icons">dashboard</i>
                Dashboard
            </a>
            <a href="{{ path('admin_categories_index') }}" class="admin-menu-item">
                <i class="material-icons">category</i>
                Catégories
            </a>
        </nav>

        <div class="user-profile">
            <img src="{{ asset('assets/images/avatar.svg') }}" alt="User avatar">
            <div class="user-profile-info">
                <div class="user-name">admin</div>
                <div class="user-role">Administrator</div>
            </div>
            <div class="user-menu-wrapper">
                <i class="material-icons user-menu-trigger">more_vert</i>
                <div class="user-dropdown-menu">
                    <a href="{{ path('admin_deconnexion') }}" class="dropdown-item">
                        <i class="material-icons">logout</i>
                        Se déconnecter
                    </a>
                </div>
            </div>
        </div>
    </div>

    <main class="admin-main">
        {% block content %}{% endblock %}
    </main>
{% endblock %} 